.aboutusWrapper{
    background: $light-blue;
    padding: 40px 20px;
    
    h1{
        font-size: 40px;
        font-weight: 400;
        color: $black-color;
        letter-spacing: 1.5px;
        text-align: center;
        width: 100%;
    }

    .aboutCardWrapper  {
        max-width: 600px;
        width: 100%;
        background: #ffffff;
        margin: 35px 18px 35px 18px;
        padding: 50px 40px;
        box-shadow: 0px 0px 20px 0px #cccccc;
        background-position: bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        display: inline-block;

        .aboutCardHeading {
            .aboutCardTitle {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 30px;
                font-weight: 600;
                letter-spacing: 1.2px;
                color: $primary-color;
                text-align: center;
                .cardIcon {
                    display: flex;
                    margin-right: 15px;
                    color: $darkGreen-color;
                    font-size: 40px;
                }
            }
        }
        .aboutCardsBody {
            margin: 20px 0;
            font-size: 20px;
            letter-spacing: .8px;
            display: block;
            line-height: 32px;

        }
        @include phone {
            box-sizing: border-box;
        }
    }
    .aboutCardInner {
        display: flex;
        justify-content: center;
        align-items: center;
        @include phone {
            flex-direction: column;
         }
    }
}