.contsctDetailWrapper {
    min-height: 61vh;
    @include big-desktop {
        min-height: 74vh;
    }
    .deliveriesInner {
        padding: 0;
    }

    .account-Tabs {
        display: flex;
        justify-content: space-between;
        span {
            flex: 1;
            text-align: center;
            padding: 20px 0;
            cursor: pointer;
            //  font-weight: 700;
             transition: all .1s ease-in-out;
             &:hover {
                    background: $primary-color;
                    border-bottom: 3px solid $primary-color;
                    color: $white-color;
                    font-weight: 400;
                }
             &.active {
                     border-bottom: 3px solid $primary-color;
                     background: transparent;
                    color: $primary-color;
                    font-weight: 700;
                }
        }
    }

    .tabs-Body {
        padding: 20px 30px;
        display: block;

        .popupFooter {display: none;}

        .popupWrapper {
            max-width: 850px;
        }
    }

    .profileWrapper {
        .profileInner {
            .profileHeader {
                display: flex;
                justify-content: space-between;
                border-bottom:  1px solid $lightGrey-color;
                margin-bottom: 35px;
                padding-bottom: 20px;
                    align-items: center;
                .userName {
                    font-size: 25px;
                    font-weight: 700;
                   display: flex;
                   flex-direction: column;
                    i {
                        font-style: normal;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }

                .userPicture {
                    width: 80px;
                    height: 80px;
                    overflow: hidden;
                    border-radius: 50%;
                    position: relative;

                    img {
                        width: 100%;
                    }
                    &:hover {
                      .upload-btn-wrapper {
                          display: inline-block;
                      }
                    }

                    .upload-btn-wrapper {
                        display: none;
                        position: absolute;
                        overflow: hidden;
                        // display: inline-block;
                        left: 50%;
                        margin-left: -9px;
                        bottom: 0;

                        }

                        .btn {
                        border: 0;
                        color: $lightGrey-color;
                        background-color: transparent;
                        padding: 0;
                        border-radius: 0;
                        font-size: 20px;
                        font-weight: bold;
                        cursor: pointer;
                        }

                        .upload-btn-wrapper input[type=file] {
                        font-size: 100px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        }
                }
            }

            .profileBody{
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 12px;
                        cursor: pointer;
                        svg {
                            margin-right: 15px;
                            fill: $darkBlue-color;
                            font-size: 23px;
                        }
                    }
                }
            }

            .profileFooter {
                border-top:  1px solid $lightGrey-color;
                margin-top: 35px;
                padding-top: 20px;
                display: block;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                     li {
                         display: flex;
                        align-items: center;
                        margin-bottom: 12px;
                        cursor: pointer;
                        svg {
                            margin-right: 15px;
                            fill: $primary-color;
                            font-size: 23px;
                        }
                    }
                }
               .notVerified {
                   svg {
                            margin-right: 15px;
                            fill: $lighterGray;
                            font-size: 23px;
                   }
               }
            }
        }
    }

    .accountInfoWrapper {
        ul{
            list-style: none;
            padding: 0;
            li {
                padding: 16px 0;
                border-bottom: 1px solid $lighterGray;
                transition: all .5s ease-in-out;
                cursor: pointer;
                &:hover {
                    background: $base-color;
                    padding: 16px;
                }
            }
        }
    }

    .personalInfoWrapper {
        ul {
            padding: 0;
            list-style: none;
            li{
                padding: 18px;
                display: flex;
                flex-direction: column;
                font-size: 20px;
                font-weight: 700;

                i{
                    font-style: normal;
                    color: $darkGreen-color;
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    align-items: center;
   transition: all .5s ease-in-out;
                    .formFieldsWrapper{
                        width: 100%;

                        input {
                           padding: 9px 0px;
                           margin: 0;

                           &:hover {
                               background: $lighterGray !important;
                           }
                       }
                    }

                    .btnWrapper {
                        margin: 0;
                        button {
                            margin: 0;
                            padding: 5px 16px;
                            margin-left: 10px;
                            background: transparent;
                            color: $primary-color;
                            font-size: 16px;
                            font-weight: 400;
                            letter-spacing: .5px;
                            text-decoration: underline;
                        }
                    }

                    span.editSaveBtn {

                        display: flex;
                        justify-content: flex-end;
                        position: absolute;
                        right: 10px;
                    }
                    &.editableField {
                        .formFieldsWrapper {
                            input {
                           padding: 9px 0px 9px 9px;

                       }
                        }
                    }
                    &.normalField {
                        .formFieldsWrapper {
                            input {
                            background: transparent;
                            border: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}