.infoCards {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $light-blue;
    padding: 40px 0;
    @include phone {
       flex-direction: column;
       margin: 0 20px;
    }
}
.cardWrapper {
       max-width: 600px;
       width: 100%;
       background: $white-color;
       margin: 75px 18px 35px 18px;
       padding-bottom: 20px;
       box-shadow: 0px 0px 20px 0px #cccccc;
       background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    .cardImage {
        position: relative;
        height: 150px;
        display: block;
        overflow: hidden;

        img{
            width: 100%;
        }
        .cardTitle{
             position: absolute;
             left: 0;
             bottom: 0;
             font-size: 25px;
             padding: 10px 40px;
             background: $primary-color;
             color: $white-color;
             text-transform: uppercase;
        }
    }

    .cardHeading {
        font-size: 25px;
        font-weight: 600;
        color: $primary-color;
        display: flex;
        margin: 8px 0;
        letter-spacing: .8px;
        padding: 10px 40px;
    }

    .cardBodyText{
        font-size: 20px;
        font-weight: 400;
        color: $black-color;
        display: flex;
        letter-spacing: .8px;
        padding: 10px 40px;
    }

    .cardBtnWrapper{
        display: flex;
        margin: 8px 0;
        padding: 10px 40px;
        button{
            background: transparent;
            border: 0;
            border-radius: 0;
            padding: 0;
            color: $primary-color;
            font-size: 15px;
            letter-spacing: 1.3px;
            cursor: pointer;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }
}