.contactusWrapper{
    background: $white-color;
    padding: 0 20px 40px 20px;
    
    h1{
        font-size: 40px;
        font-weight: 400;
        color: $black-color;
        letter-spacing: 1.5px;
        text-align: center;
        width: 100%;
        margin: 0 0 60px 0;
        padding-top: 70px;
    }

   .contactusInner {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 800px;
        width: 100%;
        margin: auto;
        background: $white-color;
        flex-direction: column;
        padding: 40px;
        box-shadow: 0px 0px 20px 0px #cccccc;
        .fieldWrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            .formFieldsWrapper {
                width: 47%;
                margin: 10px 10px 0;
                @include phone {
                    width: 100%;
                 }
            }
            .btnWrapper {
                margin-top: 15px;
            }
            @include phone {
                flex-direction: column;
             }
        }
        .textareaWrapper {
          width: 100% !important;  
          .formFieldsWrapper {
            width: 100%;
            margin: 10px 10px 0;
           
            textarea {
                resize: none;
                min-height: 150px;
            }
        }
        }
        form {
            width: 100%
        }
        @include phone {
            box-sizing: border-box;
         }
    }
}