.detailsInner {
    box-sizing: border-box;
    @include inner-body;

    h1 {
        margin-top: 25px;
        display: inline-block;
        padding-left: 38px;
        margin-bottom: 50px;
        position: relative;
        i {
            position: absolute;
            left: -8px;
            top: 3px;
            cursor: pointer;
        }
    }
    .contsctDetailWrapper{
        min-height: 61vh;
        display: flex;
        justify-content: space-between;
        @include phone {
            flex-direction: column;
            align-items: center;
        }

        .addressDetail {
            max-width: 80%;
            span{
                display: flex;
                margin-bottom: 10px;

                i{
                    font-style: normal;
                    font-weight: 600;
                    width: 150px;
                }
            }
        }

        .avatar{
            max-width: 18%;
            @include phone {
                width: 100%;
                max-width: inherit;
            }
            i {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid $base-color;
                overflow: hidden;
                display: flex;
                align-items: center;
                margin: auto;
                img {
                    width: 100%;
                }
            }
            span {
                display: block;
                text-align: center;
                font-weight: 700;
                margin-top: 10px;
            }
        }
    }

    .cardmiddle {

        width: 72%;
        margin: 80px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include phone {
            max-width: inherit;
            margin-top: 25px;
        }
        .travelerDate {
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            i {
                font-style: normal;
                font-size: 14px;
            }
        }
        .travelerLine{
            display: flex;
            background: $primary-color;
            height: 3px;
            margin: 15px 0;
            position: relative;
            &::before {
              content: "";
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: $red-color;
              position: absolute;
              top: -3px;
              left: -4px;
            }
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $red-color;
                position: absolute;
                top: -3px;
                right: -4px;
              }

        }
        .travelerDestination {
            font-weight: 700;
            display: flex;

            justify-content: space-between;
            i {
                font-style: normal;
                font-size: 13px;
                font-weight: 400;
            }
            svg {
                color: $red-color;
                margin-right: 5px;
            }

        }

        .leftLocation {
        font-weight: 600;
         margin-right: 15px;
        }
        .rightLocation {
            font-weight: 600;
            margin-left: 15px;
      }
      > div {
          width: 100%;
      }
    }

    .packageDescription {
        display: flex;
        margin: 35px auto;
        width: 80%;
        flex-direction: column;

        h2 {
            font-weight: 700;
            margin-bottom: 10px;
        }

        p {
            margin-top: 13px;
            line-height: 25px;
            letter-spacing: .8px;
        }
    }

    .packageFooter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg {
            path {
               stroke: $darkGreen-color;
              }
            font-size: 25px;
            margin-left: 10px;
            cursor: pointer;
        }
    }
}