.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding: 25px;
    background-color: $lighterGray;

    span{
        ul {
            list-style: none;
            li {
                display: inline-block;
                a{
                    color: inherit;
                padding: 0 8px;
            text-decoration: none;                }
            }
        }
    }
}