.findTravelerWrapper {
  h1{
      padding: 30px;
      margin: 0;
  }
}

button {
    border-radius: 40px;
}

.formFieldsWrapper {
    position: relative;
    display: flex;
    input, textarea  {
        padding: 25px 20px;
        margin: 10px 0;
        width: 100%;
        box-sizing: border-box;
        box-sizing: border-box;       
        background: $lightGreen-color;
        border: 1px solid $primary-color;
        font-size: 20px;
    }
    
    .errorMessage {
        color: red;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      box-shadow: 0 0 0px 1000px $lightGreen-color inset !important;
      -webkit-box-shadow: 0 0 0px 1000px $lightGreen-color inset !important;
      border: 1px solid $primary-color;
    }
   
}

.btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 110px;
    button {
        margin: 10px;
        border: none;
        padding: 12px 25px;
        background: $primary-color;
        color: $white-color;
        font-size: 20px;
        letter-spacing: .8px;        
        cursor: pointer;
    }
}