.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: $white-color;
    box-shadow: 0px 0px 4px 1px $lightGrey-color;

  ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li a {
          color: $black-color;
          text-decoration: none;
          &:hover {
            color: $primary-color;
          }
        }
        li {
          display: inline-block;
          margin-left: 30px;
          cursor: pointer;
            color: $black-color;
            text-decoration: none;
            font-size: 18px;
            font-weight: 600;
            letter-spacing: .8px;
            transition: all .3s ease-in-out;
          &:hover {
            color: $primary-color;
          }
         .active {
            color: $primary-color;
          }
        }
    }
    .siteLogo {
      a {
          text-decoration: none;
          font-size: 35px;
          font-weight: 700;
          color: $primary-color;
      }
      svg {
        color: $black-color;
        font-size: 35px;
      }
  }

  .MobileBarNav {
    display: none;
    @include phone {
      display: block;
      position: relative;
      z-index: 3;
      font-size: 30px;

    }
  }
  .mobileNav {
    @include phone {
       display: none;
    }

  }

  .mobileNavOpen {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    z-index: 2;
    ul {
      display: flex;
      align-items: center;
      min-height: 100vh;
      justify-content: center;
      flex-direction: column;
      li{
        display: block;
        margin: 0 0 15px 0;
        color: #fff;
        font-size: 25px;
        font-weight: 400;
        a {
          color: #fff;
          font-size: 25px;
          font-weight: 400;
        }
      }
    }
  }
}