.homeWrapper {
    position: relative;
    .picture {       
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        min-height: calc(100vh - 106px);
        background-position: center;
        @include phone {
            background-size: cover;
        }
     .homeInner {
            //   background: rgba(0, 0, 0, 0.5);
       min-height: calc(100vh - 106px);
       display: flex;
       align-items: flex-start;
       justify-content: center;
       @include phone {
        flex-direction: column;
        align-items: center;
        > div {
            margin-top: 10px;
        }
       }
       button {
           border: none;
           border-radius: 50px;
           background: $primary-color;
           color: $white-color;
           padding: 20px 60px;
           text-transform: uppercase;
           margin: 8px;
           font-size: 25px;
           cursor: pointer;
           font-weight: 700;
           letter-spacing: 1.8px;
           @include phone {
            font-size: 24px;
           }
       }
     }
    
    }  
}
