.howItWorks{
    background: $white-color;
    padding: 40px 20px;
    h1{
        font-size: 40px;
        font-weight: 400;
        color: $black-color;
        letter-spacing: 1.5px;
        text-align: center;
    }
    p{
        width: 100%;
        max-width: 800px;
        font-size: 20px;
        letter-spacing: .8px;
        margin: auto;
        line-height: 35px;
        text-align: center;
    }
    .howWorksBody {
        display: flex;
        justify-content: center;
        margin: 70px 0 30px;
        @include phone {
            flex-direction: column;
         }
        .howWorksLeft {
            max-width:650px;
            width: 100%;
            float: left; 
            
            .howWorksSteps {
                display: inline-block;
                border-left: 1px dashed $red-color;
                position: relative;
                padding-bottom: 30px;
                position: relative;

                &:last-child{
                    border-left: 0;
                }
            .stepNumer {
                width: 80px;
                height: 80px;
                margin-right: 15px;
                border-radius: 50%;
                background: $red-color;
                color: $white-color;
                font-size: 40px;
                font-weight: 700;
                font-style: italic;
                align-items: center;
                justify-content: center;
                display: flex;
                position: absolute;
                left: -38px;
                top: -6px;
            }
            .stepText {
                margin-left: 69px;
                float: left;
                font-size: 20px;
                letter-spacing: .8px;
                line-height: 35px;
                padding-right: 65px;
                padding-top: 35px;
                h1 {
                    text-align: left;
                    color: $primary-color;
                    font-size: 35px;
                    font-weight: 500;
                }
            }
           
          }
        }
        .howWorksRight {
            background-color: #d3dbef;
            max-width:501px;
            width: 100%;
            float: left;
            display: flex;
            align-items: center;
            
            &::before {
                content: "";
            } 
            @include phone {
               display: none;
             }
        }
    }
    @include phone {
        margin: 0 20px;
      }
}