.loginWrapper {
    position: relative;
    .picture {       
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        min-height: calc(100vh - 85px);
    }
   .loginInner {
       padding: 30px;

       .container {
           max-width: 600px;
           width: 100%;
           padding: 30px;
           background: $white-color;
           margin: auto;
           box-sizing: border-box;
           h1 {
               color: $primary-color;
               text-align: center;
           }
           form {
               width: 75%;
               margin: auto;
           }
          
           
       }
   } 
 
}