@mixin phone {
    @media (max-width: 599px) { @content; }
  }
  @mixin tablet-portrait {
    @media (min-width: 600px) { @content; }
  }
  @mixin tablet-landscape {
    @media (min-width: 900px) { @content; }
  }
  @mixin desktop {
    @media (min-width: 1200px) { @content; }
  }
  @mixin big-desktop {
    @media (min-width: 1800px) { @content; }
  }

  

  @mixin inner-body {
    background: $white-color;
    max-width: 800px;
    width: 100%;
    padding: 0 30px 30px;
    margin: 50px auto;
    box-shadow: 0px 0px 13px 1px $lightGrey-color;
  }