.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3;
}

.popupWrapper {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: $white-color;
  padding: 30px 50px;
  box-sizing: border-box;
  max-height: 580px;
  overflow: auto;
  box-shadow: 0px 0px 13px 1px $lightGrey-color;
  @include phone {
    max-height: inherit;
    height: 100vh;
    overflow-y: scroll;
  }
  h1 {
    color: $primary-color;
  }
  .popupClose {
    cursor: pointer;
    float: right;
    position: absolute;
    top: 10px;
    right: 13px;

    svg {
      font-size: 60px;
      font-weight: 400;
      color: $red-color;
    }
  }
  .popupInnerBody {
    button {
      border: none;
      background: #35b736;
      color: #ffffff;
      padding: 20px 35px;
      margin-top: 20px;
      margin-left: 10px;
      font-size: 20px;
      cursor: pointer;
      font-weight: 700;
      letter-spacing: 1.8px;
    }
  }
  .errorMessage {
    color: $red-color;
  }
  &::-webkit-scrollbar {
    width: 0.3em;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $darkGreen-color;
    outline: 1px solid slategrey;
  }
}
