.mydeliveriesWrapper {
    .deliveriesInner {
    @include inner-body;
   
    @include phone {
        box-sizing: border-box;
    }
    }

    .deliveryCardWrapper {
        padding: 25px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightGrey-color;
        @include phone {
            flex-direction: column;
        }
       &:last-child{
        margin: 0 0 0 0;
        border: none;
       } 

       .cardLeft {
           @include phone {
               text-align: center;
           }
        span {
            display: block;
        }
        .deliveryName{
            font-size: 22px;
            color: $primary-color;
            font-weight: 700;
            span{
                cursor: pointer;
            }
        }

        .deliveryDate{
            font-size: 18px;
            margin: 10px 0;
            text-transform: uppercase;
            font-weight: 700;
        }
        
        .deliveryEarned{
        font-size: 18px;
        i {
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            color: $red-color;
        }
        }
        .userImage {
            width: 80px;
            height: 80px;
            overflow: hidden;
            border-radius: 50%;
            display: flex;
            align-items: center;
            @include phone {
                margin: auto;
            }
            img {
                width: 100%;
                cursor: pointer;
            }
        }
       }

       .cardRight {
           text-align: center;
           @include phone {
               width: 100%;
           }
           span {
            display: flex;
            flex-direction: column;
           }

           .travelerBtnWrapper {
               button {
                   border: 0;
                   background: $primary-color;
                   color: $white-color;
                   padding: 15px 35px;
                   margin-top: 20px;
                   font-size: 18px;
                   font-weight: 700;
                   letter-spacing: .8px;
                   text-transform: uppercase;
                   cursor: pointer;
                   box-shadow: 0px 0px 13px 1px $lightGrey-color;
               }
           }

           .travelerAmount {
               font-size: 45px;
               color: $red-color;
               font-weight: 400;
               margin-bottom: 10px;
           }
         
        }

        .cardmiddle {
            max-width: 150px;
            margin-top: 125px;
            width: 100%;
            @include phone {
                max-width: inherit;
                margin-top: 25px;
            }
            .travelerDate {
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                i {
                    font-style: normal;
                    font-size: 14px;
                }
            }
            .travelerLine{
                display: flex;
                background: $primary-color;
                height: 3px;
                margin: 15px 0;
                position: relative;
                &::before {
                  content: "";
                  width: 10px;
                  height: 10px;
                  border-radius: 50%;
                  background: $red-color;
                  position: absolute;
                  top: -3px;
                  left: -4px;
                }
                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $red-color;
                    position: absolute;
                    top: -3px;
                    right: -4px;
                  }
            }
            .travelerDestination {
                font-weight: 700;
                display: flex;
                
                justify-content: space-between;
                i {
                    font-style: normal;
                    font-size: 14px;
                }
            }
        }
    }
    
}

