.traveleListWrapper {
    .traveleListBody {
        background: $white-color;
        max-width: 800px;
        width: 100%;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 0px 0px 13px 1px $lightGrey-color;

        @include phone{
            box-sizing: border-box;
        }

        h1{
           font-size: 20px !important;
        }
        .travelerCardWrapper {
            background: $lightGreen-color;
            padding: 25px;
            margin: 0 0 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $lightGrey-color;
            @include phone {
                flex-direction: column;
                box-sizing: border-box;
            }
           &:last-child{
            margin: 0 0 0 0;
           }

           .cardLeft {
            @include phone {
                text-align: center;
            }
            span {
                display: block;
            }
            .travelerName{
                font-size: 22px;
                color: $primary-color;
                font-weight: 700;
            }
            .travelerCity{
                font-size: 18px;
                margin: 10px 0;
                text-transform: uppercase;
                font-weight: 700;
            }
            .travelerspace{
            font-size: 18px;
            i {
                font-style: normal;
                font-weight: 400;
                font-size: 25px;
                color: $red-color;
            }
            }
            .userImage {
                width: 80px;
                height: 80px;
                overflow: hidden;
                border-radius: 50%;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                }
            }
           }

           .cardRight {
               text-align: center;
               span {
                   display: block;
               }

               .travelerBtnWrapper {
                   button {
                       border: 0;
                       background: $primary-color;
                       color: $white-color;
                       padding: 15px 35px;
                       margin-top: 20px;
                       font-size: 18px;
                       font-weight: 700;
                       letter-spacing: .8px;
                       text-transform: uppercase;
                       cursor: pointer;
                       box-shadow: 0px 0px 13px 1px $lightGrey-color;
                   }
               }

               .travelerAmount {
                   font-size: 45px;
                   color: $red-color;
                   font-weight: 400;
                   margin-bottom: 10px;
               }

            }

            .cardmiddle {

                max-width: 150px;
                width: 100%;
                @include phone {
                    max-width: inherit;
                    margin-top: 25px;
                }
                .travelerDate {
                    font-weight: 700;
                    display: flex;
                    justify-content: space-between;
                    i {
                        font-style: normal;
                        font-size: 14px;
                    }
                }
                .travelerLine{
                    display: flex;
                    background: $primary-color;
                    height: 3px;
                    margin: 15px 0;
                    position: relative;
                    &::before {
                      content: "";
                      width: 10px;
                      height: 10px;
                      border-radius: 50%;
                      background: $red-color;
                      position: absolute;
                      top: -3px;
                      left: -4px;
                    }
                    &::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: $red-color;
                        position: absolute;
                        top: -3px;
                        right: -4px;
                      }
                }
                .travelerDestination {
                    font-weight: 700;
                    display: flex;

                    justify-content: space-between;
                    i {
                        font-style: normal;
                        font-size: 14px;
                    }
                }
            }
        }

        textarea {
            width: 100%;
            border: 1px solid $primary-color;
            resize: none;
            min-height: 150px;
            padding: 25px;
            font-size: 18px;
            margin: 0 10px;
        }
        .btnWrapper {
            margin-top: 20px;
        }

    }
}