$base-color: #f8f7f7;
$primary-color: #35B736;
$white-color: #ffffff;
$light-blue: #f0f9fc;
$darkBlue-color: #0402ed;
$black-color: #000000;
$red-color: #ee0968;
$lightGreen-color: #f4fef0;
$darkGreen-color:  #1a5b1b;
$lightGrey-color: #CCCCCC;
$lighterGray: #f3f0f0;