@import '_mixines.scss';
@import '_variables';
@import '_header';
@import '_login.scss';
@import '_home.scss';
@import '_general.scss';
@import '_modal.scss';
@import '_travelerlist.scss';
@import '_cards.scss';
@import '_howitworks.scss';
@import '_aboutus.scss';
@import '_contactus.scss';
@import '_mydeliveries.scss';
@import '_details.scss';
@import '_footer.scss';
@import '_account.scss';

body {
background: $base-color;
font-family: 'Asap', sans-serif;


}
html::-webkit-scrollbar {
    width: .3em;
  }
  html::-webkit-scrollbar-thumb {
    background-color: $darkGreen-color;
    outline: 1px solid slategrey;
  }
:focus {
    outline: none;
}