.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #CCCCCC;
}

.headerWrapper ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerWrapper ul li a {
  color: #000000;
  text-decoration: none;
}

.headerWrapper ul li a:hover {
  color: #35B736;
}

.headerWrapper ul li {
  display: inline-block;
  margin-left: 30px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: .8px;
  transition: all .3s ease-in-out;
}

.headerWrapper ul li:hover {
  color: #35B736;
}

.headerWrapper .siteLogo a {
  text-decoration: none;
  font-size: 35px;
  font-weight: 700;
  color: #35B736;
}

.headerWrapper .siteLogo svg {
  color: #000000;
  font-size: 35px;
}

.headerWrapper .MobileBarNav {
  display: none;
}

@media (max-width: 599px) {
  .headerWrapper .MobileBarNav {
    display: block;
    position: relative;
    z-index: 3;
    font-size: 30px;
  }
}

@media (max-width: 599px) {
  .headerWrapper .mobileNav {
    display: none;
  }
}

.headerWrapper .mobileNavOpen {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #35B736;
  z-index: 2;
}

.headerWrapper .mobileNavOpen ul {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.headerWrapper .mobileNavOpen ul li {
  display: block;
  margin: 0 0 15px 0;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}

.headerWrapper .mobileNavOpen ul li a {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}

.loginWrapper {
  position: relative;
}

.loginWrapper .picture {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  min-height: calc(100vh - 85px);
}

.loginWrapper .loginInner {
  padding: 30px;
}

.loginWrapper .loginInner .container {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background: #ffffff;
  margin: auto;
  box-sizing: border-box;
}

.loginWrapper .loginInner .container h1 {
  color: #35B736;
  text-align: center;
}

.loginWrapper .loginInner .container form {
  width: 75%;
  margin: auto;
}

.homeWrapper {
  position: relative;
}

.homeWrapper .picture {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  min-height: calc(100vh - 106px);
  background-position: center;
}

@media (max-width: 599px) {
  .homeWrapper .picture {
    background-size: cover;
  }
}

.homeWrapper .picture .homeInner {
  min-height: calc(100vh - 106px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

@media (max-width: 599px) {
  .homeWrapper .picture .homeInner {
    flex-direction: column;
    align-items: center;
  }
  .homeWrapper .picture .homeInner > div {
    margin-top: 10px;
  }
}

.homeWrapper .picture .homeInner button {
  border: none;
  border-radius: 50px;
  background: #35B736;
  color: #ffffff;
  padding: 20px 60px;
  text-transform: uppercase;
  margin: 8px;
  font-size: 25px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1.8px;
}

@media (max-width: 599px) {
  .homeWrapper .picture .homeInner button {
    font-size: 24px;
  }
}

.findTravelerWrapper h1 {
  padding: 30px;
  margin: 0;
}

button {
  border-radius: 40px;
}

.formFieldsWrapper {
  position: relative;
  display: flex;
}

.formFieldsWrapper input, .formFieldsWrapper textarea {
  padding: 25px 20px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  box-sizing: border-box;
  background: #f4fef0;
  border: 1px solid #35B736;
  font-size: 20px;
}

.formFieldsWrapper .errorMessage {
  color: red;
}

.formFieldsWrapper input:-webkit-autofill,
.formFieldsWrapper input:-webkit-autofill:hover,
.formFieldsWrapper input:-webkit-autofill:focus textarea:-webkit-autofill,
.formFieldsWrapper textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
.formFieldsWrapper select:-webkit-autofill,
.formFieldsWrapper select:-webkit-autofill:hover,
.formFieldsWrapper select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #f4fef0 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #f4fef0 inset !important;
  border: 1px solid #35B736;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 110px;
}

.btnWrapper button {
  margin: 10px;
  border: none;
  padding: 12px 25px;
  background: #35B736;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: .8px;
  cursor: pointer;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.popupWrapper {
  position: relative;
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  padding: 30px 50px;
  box-sizing: border-box;
  max-height: 580px;
  overflow: auto;
  box-shadow: 0px 0px 13px 1px #CCCCCC;
}

@media (max-width: 599px) {
  .popupWrapper {
    max-height: inherit;
    height: 100vh;
    overflow-y: scroll;
  }
}

.popupWrapper h1 {
  color: #35B736;
}

.popupWrapper .popupClose {
  cursor: pointer;
  float: right;
  position: absolute;
  top: 10px;
  right: 13px;
}

.popupWrapper .popupClose svg {
  font-size: 60px;
  font-weight: 400;
  color: #ee0968;
}

.popupWrapper .popupInnerBody button {
  border: none;
  background: #35b736;
  color: #ffffff;
  padding: 20px 35px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.popupWrapper .errorMessage {
  color: #ee0968;
}

.popupWrapper::-webkit-scrollbar {
  width: 0.3em;
}

.popupWrapper::-webkit-scrollbar-thumb {
  background-color: #1a5b1b;
  outline: 1px solid slategrey;
}

.traveleListWrapper .traveleListBody {
  background: #ffffff;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 13px 1px #CCCCCC;
}

@media (max-width: 599px) {
  .traveleListWrapper .traveleListBody {
    box-sizing: border-box;
  }
}

.traveleListWrapper .traveleListBody h1 {
  font-size: 20px !important;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper {
  background: #f4fef0;
  padding: 25px;
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CCCCCC;
}

@media (max-width: 599px) {
  .traveleListWrapper .traveleListBody .travelerCardWrapper {
    flex-direction: column;
    box-sizing: border-box;
  }
}

.traveleListWrapper .traveleListBody .travelerCardWrapper:last-child {
  margin: 0 0 0 0;
}

@media (max-width: 599px) {
  .traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft {
    text-align: center;
  }
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft span {
  display: block;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft .travelerName {
  font-size: 22px;
  color: #35B736;
  font-weight: 700;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft .travelerCity {
  font-size: 18px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft .travelerspace {
  font-size: 18px;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft .travelerspace i {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #ee0968;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft .userImage {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardLeft .userImage img {
  width: 100%;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardRight {
  text-align: center;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardRight span {
  display: block;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardRight .travelerBtnWrapper button {
  border: 0;
  background: #35B736;
  color: #ffffff;
  padding: 15px 35px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 13px 1px #CCCCCC;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardRight .travelerAmount {
  font-size: 45px;
  color: #ee0968;
  font-weight: 400;
  margin-bottom: 10px;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle {
  max-width: 150px;
  width: 100%;
}

@media (max-width: 599px) {
  .traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle {
    max-width: inherit;
    margin-top: 25px;
  }
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerDate {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerDate i {
  font-style: normal;
  font-size: 14px;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerLine {
  display: flex;
  background: #35B736;
  height: 3px;
  margin: 15px 0;
  position: relative;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerLine::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee0968;
  position: absolute;
  top: -3px;
  left: -4px;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerLine::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee0968;
  position: absolute;
  top: -3px;
  right: -4px;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerDestination {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.traveleListWrapper .traveleListBody .travelerCardWrapper .cardmiddle .travelerDestination i {
  font-style: normal;
  font-size: 14px;
}

.traveleListWrapper .traveleListBody textarea {
  width: 100%;
  border: 1px solid #35B736;
  resize: none;
  min-height: 150px;
  padding: 25px;
  font-size: 18px;
  margin: 0 10px;
}

.traveleListWrapper .traveleListBody .btnWrapper {
  margin-top: 20px;
}

.infoCards {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f9fc;
  padding: 40px 0;
}

@media (max-width: 599px) {
  .infoCards {
    flex-direction: column;
    margin: 0 20px;
  }
}

.cardWrapper {
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  margin: 75px 18px 35px 18px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px 0px #cccccc;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
}

.cardWrapper .cardImage {
  position: relative;
  height: 150px;
  display: block;
  overflow: hidden;
}

.cardWrapper .cardImage img {
  width: 100%;
}

.cardWrapper .cardImage .cardTitle {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 25px;
  padding: 10px 40px;
  background: #35B736;
  color: #ffffff;
  text-transform: uppercase;
}

.cardWrapper .cardHeading {
  font-size: 25px;
  font-weight: 600;
  color: #35B736;
  display: flex;
  margin: 8px 0;
  letter-spacing: .8px;
  padding: 10px 40px;
}

.cardWrapper .cardBodyText {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  display: flex;
  letter-spacing: .8px;
  padding: 10px 40px;
}

.cardWrapper .cardBtnWrapper {
  display: flex;
  margin: 8px 0;
  padding: 10px 40px;
}

.cardWrapper .cardBtnWrapper button {
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: #35B736;
  font-size: 15px;
  letter-spacing: 1.3px;
  cursor: pointer;
  text-decoration: underline;
  text-transform: uppercase;
}

.howItWorks {
  background: #ffffff;
  padding: 40px 20px;
}

.howItWorks h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 1.5px;
  text-align: center;
}

.howItWorks p {
  width: 100%;
  max-width: 800px;
  font-size: 20px;
  letter-spacing: .8px;
  margin: auto;
  line-height: 35px;
  text-align: center;
}

.howItWorks .howWorksBody {
  display: flex;
  justify-content: center;
  margin: 70px 0 30px;
}

@media (max-width: 599px) {
  .howItWorks .howWorksBody {
    flex-direction: column;
  }
}

.howItWorks .howWorksBody .howWorksLeft {
  max-width: 650px;
  width: 100%;
  float: left;
}

.howItWorks .howWorksBody .howWorksLeft .howWorksSteps {
  display: inline-block;
  border-left: 1px dashed #ee0968;
  position: relative;
  padding-bottom: 30px;
  position: relative;
}

.howItWorks .howWorksBody .howWorksLeft .howWorksSteps:last-child {
  border-left: 0;
}

.howItWorks .howWorksBody .howWorksLeft .howWorksSteps .stepNumer {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
  background: #ee0968;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  left: -38px;
  top: -6px;
}

.howItWorks .howWorksBody .howWorksLeft .howWorksSteps .stepText {
  margin-left: 69px;
  float: left;
  font-size: 20px;
  letter-spacing: .8px;
  line-height: 35px;
  padding-right: 65px;
  padding-top: 35px;
}

.howItWorks .howWorksBody .howWorksLeft .howWorksSteps .stepText h1 {
  text-align: left;
  color: #35B736;
  font-size: 35px;
  font-weight: 500;
}

.howItWorks .howWorksBody .howWorksRight {
  background-color: #d3dbef;
  max-width: 501px;
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.howItWorks .howWorksBody .howWorksRight::before {
  content: "";
}

@media (max-width: 599px) {
  .howItWorks .howWorksBody .howWorksRight {
    display: none;
  }
}

@media (max-width: 599px) {
  .howItWorks {
    margin: 0 20px;
  }
}

.aboutusWrapper {
  background: #f0f9fc;
  padding: 40px 20px;
}

.aboutusWrapper h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 1.5px;
  text-align: center;
  width: 100%;
}

.aboutusWrapper .aboutCardWrapper {
  max-width: 600px;
  width: 100%;
  background: #ffffff;
  margin: 35px 18px 35px 18px;
  padding: 50px 40px;
  box-shadow: 0px 0px 20px 0px #cccccc;
  background-position: bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
}

.aboutusWrapper .aboutCardWrapper .aboutCardHeading .aboutCardTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #35B736;
  text-align: center;
}

.aboutusWrapper .aboutCardWrapper .aboutCardHeading .aboutCardTitle .cardIcon {
  display: flex;
  margin-right: 15px;
  color: #1a5b1b;
  font-size: 40px;
}

.aboutusWrapper .aboutCardWrapper .aboutCardsBody {
  margin: 20px 0;
  font-size: 20px;
  letter-spacing: .8px;
  display: block;
  line-height: 32px;
}

@media (max-width: 599px) {
  .aboutusWrapper .aboutCardWrapper {
    box-sizing: border-box;
  }
}

.aboutusWrapper .aboutCardInner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 599px) {
  .aboutusWrapper .aboutCardInner {
    flex-direction: column;
  }
}

.contactusWrapper {
  background: #ffffff;
  padding: 0 20px 40px 20px;
}

.contactusWrapper h1 {
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  letter-spacing: 1.5px;
  text-align: center;
  width: 100%;
  margin: 0 0 60px 0;
  padding-top: 70px;
}

.contactusWrapper .contactusInner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  flex-direction: column;
  padding: 40px;
  box-shadow: 0px 0px 20px 0px #cccccc;
}

.contactusWrapper .contactusInner .fieldWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contactusWrapper .contactusInner .fieldWrapper .formFieldsWrapper {
  width: 47%;
  margin: 10px 10px 0;
}

@media (max-width: 599px) {
  .contactusWrapper .contactusInner .fieldWrapper .formFieldsWrapper {
    width: 100%;
  }
}

.contactusWrapper .contactusInner .fieldWrapper .btnWrapper {
  margin-top: 15px;
}

@media (max-width: 599px) {
  .contactusWrapper .contactusInner .fieldWrapper {
    flex-direction: column;
  }
}

.contactusWrapper .contactusInner .textareaWrapper {
  width: 100% !important;
}

.contactusWrapper .contactusInner .textareaWrapper .formFieldsWrapper {
  width: 100%;
  margin: 10px 10px 0;
}

.contactusWrapper .contactusInner .textareaWrapper .formFieldsWrapper textarea {
  resize: none;
  min-height: 150px;
}

.contactusWrapper .contactusInner form {
  width: 100%;
}

@media (max-width: 599px) {
  .contactusWrapper .contactusInner {
    box-sizing: border-box;
  }
}

.mydeliveriesWrapper .deliveriesInner {
  background: #ffffff;
  max-width: 800px;
  width: 100%;
  padding: 0 30px 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 13px 1px #CCCCCC;
}

@media (max-width: 599px) {
  .mydeliveriesWrapper .deliveriesInner {
    box-sizing: border-box;
  }
}

.mydeliveriesWrapper .deliveryCardWrapper {
  padding: 25px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
}

@media (max-width: 599px) {
  .mydeliveriesWrapper .deliveryCardWrapper {
    flex-direction: column;
  }
}

.mydeliveriesWrapper .deliveryCardWrapper:last-child {
  margin: 0 0 0 0;
  border: none;
}

@media (max-width: 599px) {
  .mydeliveriesWrapper .deliveryCardWrapper .cardLeft {
    text-align: center;
  }
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft span {
  display: block;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .deliveryName {
  font-size: 22px;
  color: #35B736;
  font-weight: 700;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .deliveryName span {
  cursor: pointer;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .deliveryDate {
  font-size: 18px;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .deliveryEarned {
  font-size: 18px;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .deliveryEarned i {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #ee0968;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .userImage {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

@media (max-width: 599px) {
  .mydeliveriesWrapper .deliveryCardWrapper .cardLeft .userImage {
    margin: auto;
  }
}

.mydeliveriesWrapper .deliveryCardWrapper .cardLeft .userImage img {
  width: 100%;
  cursor: pointer;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardRight {
  text-align: center;
}

@media (max-width: 599px) {
  .mydeliveriesWrapper .deliveryCardWrapper .cardRight {
    width: 100%;
  }
}

.mydeliveriesWrapper .deliveryCardWrapper .cardRight span {
  display: flex;
  flex-direction: column;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardRight .travelerBtnWrapper button {
  border: 0;
  background: #35B736;
  color: #ffffff;
  padding: 15px 35px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .8px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 0px 13px 1px #CCCCCC;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardRight .travelerAmount {
  font-size: 45px;
  color: #ee0968;
  font-weight: 400;
  margin-bottom: 10px;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle {
  max-width: 150px;
  margin-top: 125px;
  width: 100%;
}

@media (max-width: 599px) {
  .mydeliveriesWrapper .deliveryCardWrapper .cardmiddle {
    max-width: inherit;
    margin-top: 25px;
  }
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerDate {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerDate i {
  font-style: normal;
  font-size: 14px;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerLine {
  display: flex;
  background: #35B736;
  height: 3px;
  margin: 15px 0;
  position: relative;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerLine::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee0968;
  position: absolute;
  top: -3px;
  left: -4px;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerLine::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee0968;
  position: absolute;
  top: -3px;
  right: -4px;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerDestination {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.mydeliveriesWrapper .deliveryCardWrapper .cardmiddle .travelerDestination i {
  font-style: normal;
  font-size: 14px;
}

.detailsInner {
  box-sizing: border-box;
  background: #ffffff;
  max-width: 800px;
  width: 100%;
  padding: 0 30px 30px;
  margin: 50px auto;
  box-shadow: 0px 0px 13px 1px #CCCCCC;
}

.detailsInner h1 {
  margin-top: 25px;
  display: inline-block;
  padding-left: 38px;
  margin-bottom: 50px;
  position: relative;
}

.detailsInner h1 i {
  position: absolute;
  left: -8px;
  top: 3px;
  cursor: pointer;
}

.detailsInner .contsctDetailWrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .detailsInner .contsctDetailWrapper {
    flex-direction: column;
    align-items: center;
  }
}

.detailsInner .contsctDetailWrapper .addressDetail {
  max-width: 80%;
}

.detailsInner .contsctDetailWrapper .addressDetail span {
  display: flex;
  margin-bottom: 10px;
}

.detailsInner .contsctDetailWrapper .addressDetail span i {
  font-style: normal;
  font-weight: 600;
  width: 150px;
}

.detailsInner .contsctDetailWrapper .avatar {
  max-width: 18%;
}

@media (max-width: 599px) {
  .detailsInner .contsctDetailWrapper .avatar {
    width: 100%;
    max-width: inherit;
  }
}

.detailsInner .contsctDetailWrapper .avatar i {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f8f7f7;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: auto;
}

.detailsInner .contsctDetailWrapper .avatar i img {
  width: 100%;
}

.detailsInner .contsctDetailWrapper .avatar span {
  display: block;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}

.detailsInner .cardmiddle {
  width: 72%;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 599px) {
  .detailsInner .cardmiddle {
    max-width: inherit;
    margin-top: 25px;
  }
}

.detailsInner .cardmiddle .travelerDate {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.detailsInner .cardmiddle .travelerDate i {
  font-style: normal;
  font-size: 14px;
}

.detailsInner .cardmiddle .travelerLine {
  display: flex;
  background: #35B736;
  height: 3px;
  margin: 15px 0;
  position: relative;
}

.detailsInner .cardmiddle .travelerLine::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee0968;
  position: absolute;
  top: -3px;
  left: -4px;
}

.detailsInner .cardmiddle .travelerLine::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ee0968;
  position: absolute;
  top: -3px;
  right: -4px;
}

.detailsInner .cardmiddle .travelerDestination {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.detailsInner .cardmiddle .travelerDestination i {
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
}

.detailsInner .cardmiddle .travelerDestination svg {
  color: #ee0968;
  margin-right: 5px;
}

.detailsInner .cardmiddle .leftLocation {
  font-weight: 600;
  margin-right: 15px;
}

.detailsInner .cardmiddle .rightLocation {
  font-weight: 600;
  margin-left: 15px;
}

.detailsInner .cardmiddle > div {
  width: 100%;
}

.detailsInner .packageDescription {
  display: flex;
  margin: 35px auto;
  width: 80%;
  flex-direction: column;
}

.detailsInner .packageDescription h2 {
  font-weight: 700;
  margin-bottom: 10px;
}

.detailsInner .packageDescription p {
  margin-top: 13px;
  line-height: 25px;
  letter-spacing: .8px;
}

.detailsInner .packageFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.detailsInner .packageFooter svg {
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.detailsInner .packageFooter svg path {
  stroke: #1a5b1b;
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 25px;
  background-color: #f3f0f0;
}

.footerWrapper span ul {
  list-style: none;
}

.footerWrapper span ul li {
  display: inline-block;
}

.footerWrapper span ul li a {
  color: inherit;
  padding: 0 8px;
  text-decoration: none;
}

body {
  background: #f8f7f7;
  font-family: 'Asap', sans-serif;
}

html::-webkit-scrollbar {
  width: .3em;
}

html::-webkit-scrollbar-thumb {
  background-color: #1a5b1b;
  outline: 1px solid slategrey;
}

:focus {
  outline: none;
}
